# Arquivo de configuração do MariaDB.
# Ele substitui o arquivo padrão dentro do container, permitindo
# que o banco funcione corretamente no ambiente Docker.

[server]
# Configura o servidor MariaDB

# Porta padrão do MariaDB
port = 3306

# Diretório onde o MariaDB armazena os seus dados
datadir = /var/lib/mysql

# Permite que o MariaDB aceite conexões externas (de outros containers)
# 0.0.0.0 significa: aceitar conexões de qualquer origem
# Isso é necessário porque o WordPress está em outro container
bind-address = 0.0.0.0

# Enviar e receber texto usando utf8mb4
# Melhor compatibilidade com WordPress e UTF-8
# Evita problemas com emojis, comentários, etc.
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Garante logs mais claros em caso de erro
log-error = /var/log/mysql/error.log


[client]
# configura qualquer cliente que se conecte ao MariaDB via CLI

# Enviar e receber texto usando utf8mb4
default-character-set = utf8mb4


[mysql]
# configura especificamente o programa mysql

# Enviar e receber texto usando utf8mb4
default-character-set = utf8mb4
