
# Arquivos de ambiente (sempre privados)
.env
srcs/.env

# Segredos e senhas (nunca versionar)
secrets/*.txt
secrets/

# Volumes persistentes do Docker (dados do banco e WordPress)
data/
/home/dramos-j/data/

# Lixo de sistema/editor/VM
.DS_Store
*.swp
*.vdi
*.log

# Pastas temporárias de build do Docker
.docker/
