# Configurações de ambiente (Obrigatório esconder)
.env
srcs/.env

# Segredos e Senhas (Obrigatório esconder)
secrets/*.txt
secrets/

# Dados persistentes (Para não subir o banco de dados pro Git)
data/
/home/dramos-j/data/

# Arquivos do Sistema e VM
.DS_Store
*.swp
*.vdi
*.log

# Pastas de build do Docker (Obrigatório esconder)
.docker/
